#Form-field-Transfer-_product-group {
  border-left: 3px double #d7d7d7;
}

#Form-field-Transfer-_or-group p {
  line-height: 100px;
  font-style: italic;
}

#Form-field-Transfer-_or-group .field-section {
  border-bottom: none;
}
#Form-field-Transfer-_or-group {
  width:40px;
}
