.headless-menu a[href*=acorn\/lojistiks\/brand],
.headless-menu a[href*=acorn\/lojistiks\/areatypes],
.headless-menu a[href*=acorn\/lojistiks\/people] {
  border-top: 1px dotted #aaa;
}
.counter[data-menu-id=lojistics-setup] {
  background-color: Transparent;
  border: 1px solid #aaa;
  color: #fff;
  font-size:0.5em;
}
.headless-menu a[href*=acorn] .counter {
  background-color: Transparent;
  border: 1px solid #aaa;
  color: #444;
  font-size:0.8em;
}
