.form-preview {
  border:1px dotted #444;
}

.form-preview .help-block {
  display:none;
}

.form-preview .form-control {
  background-color: #fff;
}

.form-preview .form-group-preview.partial-field.span-right svg {
  float:right;
}

.form-preview {
  background-position: center;
  background-image: url('/plugins/acorn/lojistiks/assets/img/fattura.jpg');
}

.form-preview .form-group:has(.form-control) > label {
  float:left;
}
.form-preview .form-group:has(.form-control) > div {
  float:right;
}
